/*.tree-node {*/
/*  stroke-width: 2px;*/
/*  stroke: #ccc;*/
/*  cursor: pointer;*/
/*  opacity : 0.5; !* Makes only the fill semi-transparent *!*/

/*}*/

/*.node-background {*/
/*  fill: #fff; !* Default opaque background *!*/
/*  stroke: none; !* No border for the background *!*/
/*}*/

/*.tree-node.active-branch {*/
/*  !*fill: #90ee90;*!*/
/*  !*stroke: #228b22;*!*/
/*  opacity: 1; !* Default transparency *!*/

/*}*/

/*.current-node-background {*/
/*  fill: #add8e6; !* Light blue background *!*/
/*  stroke: none;*/
/*}*/


/*.tree-node.current-node {*/
/*  !*stroke: #ff4500;*!*/
/*  stroke-width: 3px;*/
/*}*/



/*.tree-node.black-move {*/
/*      fill: #000;*/
/*  !*fill: #4d4d4d; !* Less black (dark gray) *!*!*/

/*  !*fill: rgba(0, 0, 0, 0.5); !* Semi-transparent black *!*!*/
/*  stroke: #555;*/
/*}*/

/*.tree-node.white-move {*/
/*      fill: #fff;*/
/*  !*fill: #e6e6e6; !* Less white (light gray) *!*!*/

/*  !*fill: rgba(255, 255, 255, 0.8); !* Semi-transparent white *!*!*/
/*  stroke: #aaa;*/
/*}*/

/*.tree-node.neutral-move {*/
/*      fill: #90EE90;*/
/*  !*fill: #4d4d4d; !* Less black (dark gray) *!*!*/

/*  !*fill: rgba(0, 0, 0, 0.5); !* Semi-transparent black *!*!*/
/*  stroke: #555;*/
/*}*/

/*!*.tree-node.black-move {*!*/
/*!*  fill: #000;*!*/
/*!*  stroke: #555;*!*/
/*!*}*!*/

/*!*.tree-node.white-move {*!*/
/*!*  fill: #fff;*!*/
/*!*  stroke: #aaa;*!*/
/*!*}*!*/

/*.node-label {*/
/*  font-size: 12px;*/
/*  text-anchor: middle;*/
/*  !*fill: #000;*!*/
/*  cursor: pointer;*/
/*}*/

/*.node-label.black-text {*/
/*  fill: #fff; !* White text for Black nodes *!*/
/*}*/

/*.node-label.white-text {*/
/*  fill: #000; !* Black text for White nodes *!*/
/*}*/


.tree-node {
  stroke-width: 2px;
  stroke: #ccc;
  cursor: pointer;
  opacity : 0.5; /* Makes only the fill semi-transparent */

}

.node-background {
  fill: #fff; /* Default opaque background */
  stroke: none; /* No border for the background */
}

.tree-node.active-branch {
  /*fill: #90ee90;*/
  /*stroke: #228b22;*/
  opacity: 1; /* Default transparency */

}

.current-node-background {
  fill: #add8e6; /* Light blue background */
  stroke: none;
}


.tree-node.current-node {
  /*stroke: #ff4500;*/
  stroke-width: 3px;
}



.tree-node.black-move {
      fill: #000;
  /*fill: #4d4d4d; !* Less black (dark gray) *!*/

  /*fill: rgba(0, 0, 0, 0.5); !* Semi-transparent black *!*/
  stroke: #555;
}

.tree-node.white-move {
      fill: #fff;
  /*fill: #e6e6e6; !* Less white (light gray) *!*/

  /*fill: rgba(255, 255, 255, 0.8); !* Semi-transparent white *!*/
  stroke: #aaa;
}

.tree-node.neutral-move {
      fill: #90EE90;
        /*fill: blue;*/

  /*fill: #4d4d4d; !* Less black (dark gray) *!*/

  /*fill: rgba(0, 0, 0, 0.5); !* Semi-transparent black *!*/
  stroke: #555;
}

/*.tree-node.black-move {*/
/*  fill: #000;*/
/*  stroke: #555;*/
/*}*/

/*.tree-node.white-move {*/
/*  fill: #fff;*/
/*  stroke: #aaa;*/
/*}*/

.node-label {
  font-size: 12px;
  text-anchor: middle;
  /*fill: #000;*/
  cursor: pointer;
}

.node-label.black-text {
  fill: #fff; /* White text for Black nodes */
}

.node-label.white-text {
  fill: #000; /* Black text for White nodes */
}

