<!-- templates/board_with_moves.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Go Board</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'playground/css/board.css' %}">

</head>
<script>
    window.finalBoardState = {{ final_board_state|safe }};
    console.log("final board state is " + window.finalBoardState);
</script>
<body>
<div id="app"
     data-board-size="{{ board_size }}">


    {% block content %}
    <h2>Board Size: 19</h2>
    <pre>{{ final_board_state }}</pre> <!-- For debugging -->


    <!-- Buttons -->
<button @click="zoomOut">Zoom Out</button>
<button @click="zoomIn">Zoom In</button>
<!--<button @click="$refs.goBoard.zoomOut()">Zoom Out</button>-->
<button @click="$refs.goBoard.moveBoard(30, 0)">Move Right</button>
<button @click="$refs.goBoard.moveBoard(-30, 0)">Move Left</button>
    <!-- Add Up and Down similarly -->

    <!-- Go Board Component -->
<go-board :initial-board-state="window.finalBoardState" :translate-x="translateX" :translate-y="translateY" :scale="scale"></go-board>

    {% endblock %}



<!--    {{ final_board_state|json_script:"final-board-state" }}-->

<!--<script type="application/json" id="final-board-state">-->

<!--    {{ final_board_state_json|safe }}-->
<!--</script>-->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Vue({
                el: '#app',
                // delimiters: ['{{', '}}'],  // Change if needed
                data: {
                    // boardData: [], // This will be populated from Django context
                    translateX: 0,
                    translateY: 0,
                    scale: 1.2

                },
                mounted() {
                    // this.boardData = JSON.parse(document.getElementById('final-board-state'));
                    // // this.boardData = JSON.parse(this.boardData);
                    // console.log("stuff in element is " + document.getElementById('final-board-state'));

                    // console.log("board data is " + this.boardData);

                    // Assuming you pass 'final_board_state' from Django context
                },
                methods: {

                    zoomIn() {
                        this.scale += 0.1;
                        console.log("zooming in");
                    },
                    zoomOut() {
                        if (this.scale > 0.2) this.scale -= 0.1;
                    },
                    moveBoard(dx, dy) {
                        this.translateX += dx;
                        this.translateY += dy;
                    }
                }

            })
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="{% static 'playground/js/board.js' %}"></script>

</div>
</body>
</html>
