.variation-tree {
    margin-left: 20px; /* Indent children */
    position: relative;
}

.node-container {
    position: relative;
    display: flex;
    align-items: center;
}

.tree-link {
  stroke: #000;
  stroke-width: 1px;
  opacity: 0.8; /* Slight transparency for links, if desired */
}

.tree-nodes {
  isolation: isolate; /* Ensures nodes render above connectors */
}


.node-label {
    cursor: pointer;
    text-anchor: middle;
    font-size: 12px;
    fill: #000;

}
.node-label.active-branch {
    font-weight: bold;
    /*fill: #006400; !* Dark green for active branch labels *!*/
}

.move {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 20px;
    background-color: #f5deb3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.move.current {
    border: 2px solid blue;
    background-color: #ffe4b5;
}

.children {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

/* Connectors */
.node-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 1px;
    border-top: 1px solid #000;
}

.node-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 100%;
    border-left: 1px solid #000;
}

.variation-tree:first-child .node-container::before {
    border-top: none; /* Remove top connector for the root node */
}

.variation-tree:first-child .node-container::after {
    border-left: none; /* Remove left connector for the root node */
}
